# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Sakiinlaq AB
  # this is the main title of your site
email: ahmed@sakiinlaq.se
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
twitter_username: sakiinlaq
#github_username: 
minimal_mistakes_skin: default
search: true


# Analytics
analytics:
  provider               : "google-universal" # false (default), "google", "google-universal", "google-gtag", "custom"
  google:
    tracking_id          : "G-8GB2W67QVB" # Replace this with your ID, or delete
    anonymize_ip         : true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /blog/page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Ahmed Abdulqaadir Sheikh"
  avatar : "https://pbs.twimg.com/profile_images/927280578692567042/BS5Ptp5a_400x400.jpg"
  bio    : "Grundare av Sakiinlaq AB <br>Tolk, översättare och förläggare"
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "http://sakiinlaq.se"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/sakiinlaq"   

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/"
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: false
      comments: false
      share: false
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: "_tjanster"
      type: tjanster
    values:
      layout: single
      author_profile: true
      share: false
  - scope:
      path: "_adeegyada"
      type: adeegyada
    values: 
      layout: single
      author_profile: true
      share: false
  - scope:
      path: "_portfolio"
      type: portfolio
    values: 
      layout: splash
      author_profile: true
      share: false
  - scope:
      path: "_korbus"
      type: korbus
    values:
      layout: collection
      author_profile: false
      share: false
      sidebar: 
        nav: "korbus"
  - scope:
      type: ortagrafi
    values:
      layout: collection
      classes: wide
      author_profile: true
      sidebar:
        nav: "ortagrafi"
        
# collections:
collections:
  tjanster: 
    output: true
    permalink: /:collection/:path/
  adeegyada:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  korbus:
    output: true
    permalink: /:collection/:path/
  ortagrafi:
    output: true
    permalink: /:collection/:path/
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
